@import url('https://fonts.googleapis.com/css?family=Karla');
.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  /* border: 2px solid black; */
  /* padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%; */
  padding-bottom: 0.5%;
}

.navbar a, p {
  margin:1%;
  font-size: 1.25rem;
  font-family: 'Karla';
  text-decoration: none;
  color: black;
  border: 0.5px solid transparent;
}

.navbar a:hover {
  border-bottom: 0.5px solid black;
}